.DS_Store
node_modules
/build
/components/build
/sandbox/build
/tasks-list/build
/templates-list/build
.svelte-kit
/package
.env.*local
!.env.example
.idea
*.bak
.*.swp
/tests/.auth
coverage*/
.nyc_output
playwright-report/
docs/help
venv
__pycache__
site
*.log
test-results/
blob-report/
