#json-schema > .properties-block > .property-block {
    border-bottom: 1px solid #dee2e6;
}

#json-schema > .properties-block > .property-block:last-child {
    border-bottom: none;
}

.popover {
    max-width: 500px !important;
}
