name: docs

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

jobs:

  docs:
    name: "Generate docs"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - uses: actions/setup-python@v4
        with:
          python-version: '3.12'
          cache: pip

      - name: Install dependencies
        run: python -m pip install -r docs/requirements.txt

      - name: MKDocs build
        run: mkdocs build --config-file mkdocs.yml --strict

      - name: Set up node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Install components dependencies
        run: |
          cd components
          npm ci

      - name: Install sandbox dependencies
        run: |
          cd sandbox
          npm ci

      - name: Build sandbox
        run: |
          cd sandbox
          npm run build

      - name: Move sandbox built files in docs site
        run: mv sandbox/build/ site/sandbox

      - name: Deploy docs
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./site
