name: Lint and build

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

jobs:
  lint_and_build:
    name: 'Node ${{ matrix.node-version }}'
    runs-on: ubuntu-latest
    timeout-minutes: 10

    strategy:
      matrix:
        node-version: ['18', '20', '24']

    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Set up node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm

      - name: Install dependencies
        run: npm install

      - name: Install components dependencies
        run: |
          cd components
          npm install

      - name: Run static code analysis on components module
        run: |
          cd components
          npx eslint .

      - name: Run static code analysis
        run: npx eslint .

      - name: Build site
        env:
          FRACTAL_SERVER_HOST: http://localhost:8000
          AUTH_COOKIE_NAME: fastapiusersauth
          AUTH_COOKIE_SECURE: false
          AUTH_COOKIE_DOMAIN:
          AUTH_COOKIE_PATH: /
          AUTH_COOKIE_SAME_SITE: lax
          PUBLIC_OAUTH_CLIENT_NAME:
          PUBLIC_FRACTAL_ADMIN_SUPPORT_EMAIL:
        run: npm run build

      - name: Install tasks-list dependencies
        run: |
          cd tasks-list
          npm install

      - name: Build tasks-list
        run: |
          cd tasks-list
          npm run build
      
      - name: Run Svelte Check
        run: npm run check
